 {{#each dogData as |dog|}}

   <div class="d-flex flex-column align-items-center">
    <section class="view-card">
      <a href="api/dogs/{{dog.id}}">
        <h2>{{dog.dog_name}}</h2>
      
    </section>
   
    
    </div>
     </a>

{{/each}}