 {{#each dogData as |dog|}}

   <div class="d-flex flex-column align-items-center">
    <section class="signup-card managedog-card">
      <a class="dog-tag" href="api/dogs/{{dog.id}}">
        <h2 class="dog-tag">{{dog.dog_name}}</h2>
      
    </section>
   
    
    </div>
     </a>

{{/each}}