<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Dogward Daycare</title>
    <!--Bootstrap script-->
    <link
      rel='stylesheet'
      href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'
    />
    <!-- Unicon -->
    <link
      rel='stylesheet'
      href='https://unicons.iconscout.com/release/v4.0.0/css/line.css'
    />
    <link rel='stylesheet' href='/css/style.css' />
  </head>

  <header>
    <nav class='navbar navbar-light'>
      <div class='container-xl d-flex flex-column'>
        <span class='navbar-text'>
          <h1>Dogward Day Care</h1>
        </span>
        <div class='row d-flex justify-content-center'>
          <a class='navbarButton btnSpace' href='/home'> <i class="uil uil-estate nav-icon"></i><br>Home</a>
          <a class='navbarButton btnSpace' href='/manage'><i class="uil uil-server-network skills-icon"></i><br>Manage My Dogs</a>
          <a class='navbarButton btnSpace' href='/book'><i class="uil uil-schedule"></i><br>Book A Service</a>
          <a class='navbarButton btnSpace' href='/contact'><i class="uil uil-mailbox"></i><br>Email Us</a>
          <a class='navbarButton btnSpace' href='/appointments'><i class="uil uil-history-alt"></i><br>My Appointments</a>
          {{#if loggedIn}}
            <a class='navbarButton btnSpace' id='logout' href='#'><i class="uil uil-signout"></i><br>Logout</a>
          {{else}}
            <a class='navbarButton btnSpace' href='/login'><i class="uil uil-signin"></i><br>Login</a>
          {{/if}}
        </div>
      </div>
    </nav>
  </header>

  <main>

    {{{body}}}

  </main>

  <body>

    <img
      class='dog-pic pic-right'
      src='/images/cute-dog.jpg'
      alt='cute-dog-drawing'
    />
    <img
      class='dog-pic pic-left'
      src='/images/cute-dog-2.png'
      alt='cute-dog-drawing2'
    />

  </body>

  <!--JQuery-->
  <script
    src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'
  ></script>
  <!--Moment-->
  <script
    src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'
  ></script>
  <!--Javascript-->

  <script src='/js/login.js'></script>

  <script src='/js/sign-up.js'></script>

  <!--TODO: Add login scripts here-->

</html>