<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dogward Daycare</title>
    <!--Bootstrap script-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css">
</head>

<header>
    <nav class="navbar navbar-light bg-dark">
        <div class = "container-xl d-flex flex-column">
            <span class="navbar-text">
                <h1>Doggy Day Care</h1>
            </span>
            <div class="row d-flex justify-content-center">
                <a class="navbarButton btnSpace" href="/home">Home</a>
                <a class="navbarButton btnSpace" href="/manage">Manage My Dogs</a>
                <a class="navbarButton btnSpace" href="/book">Book A Service</a>                
                <a class="navbarButton btnSpace" href="/contact">Email Us</a>
                <a class="navbarButton btnSpace" href="/calender">This Week</a>
                {{#if loggedIn}}
                <a class="navbarButton btnSpace" id="logout" href="">Logout</a>
                {{else}}
                <a class="navbarButton btnSpace" href="/login">Login</a>
                {{/if}}
            </div>
        </div>
    </nav>
</header>

<main>
    {{{body}}}

    
</main>


<body>

<img class="dog-pic pic-right"src="/images/cute-dog.jpg" alt="cute-dog-drawing"/>
<img class="dog-pic pic-left"src="/images/cute-dog-2.png" alt="cute-dog-drawing2"/>

</body>  

<!--JQuery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--Moment-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<!--Javascript-->
<!--TODO: Add login scripts here-->

</html>