<div class="d-flex justify-content-center"> 
    <div class="signup-card">
        <h2 class="page-title">Contact Us</h2>
        <form class="form blogPost-form d-flex flex-column justify-content-center align-items-left">
          <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="form-group">
            <label class="postHeaders" for="blog-title">Subject</label>
            <input class="form-input blogTitle" type="text" id="blog-title" />
          </div>
          <div class="form-group">
            <label for="dog-info">Message</label>
            <textarea class="form-input" type="text" id="dog-info"></textarea>
          </div> 
          <div class="d-flex justify-content-center">
          <div class="form-group">
            <button class="loginButton" type="submit">Contact Us</button>
            </div>
          </div>
        </form>
    </div>
</div>