<div class="d-flex justify-content-center align-items-center">    
    <div class="signup-card">
        <h2 class="page-title login-margin">Welcome to Dogward Daycare</h2>
        <h3 class="page-title login-margin">What Would you Like to do?</h3>
        <div class="form-group d-flex flex-column">
            <a class="homeButton" href="/manage">Manage My Dogs</a>
            <a class="homeButton" href="/book">Book a Service</a>
            <a class="homeButton" href="/calender">View this weeks Classes</a>
            <a class="homeButton" href="/contact">Contact Us</a>
            <a class="homeButton" id="logout" href="/login">Logout</a>            
        </div>
    </div>
</div> 
<script src="/js/logout.js"></script>