<div class='d-flex justify-content-center align-items-center'>
  <div class='signup-card lander-card'><br>
    <h2 class='page-title login-margin'>Welcome to Dogward Daycare</h2><BR>
    <h4 class='page-title login-margin'>Please Login or Sign Up</h3>
    <div class='form-group d-flex'>
      <a class='landerBtn' href='/login'><i
          class='uil uil-signin button-icon'
        ></i>
        Login</a>
      <a class='landerBtn' href='/signup'><i class='uil uil-edit'></i>
        Sign Up</a>
    </div>
  </div>
</div>