<div class="d-flex justify-content-center">    
  <div class="login-card">
    <h2 class="page-title login-margin">Login</h2>
    <form class="form login-form d-flex flex-column justify-content-center align-items-left">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group d-flex">
        <button class="loginButton" type="submit">Login</button>
        <button class="loginButton" href="/signup">Sign Up</button>
      </div>
    </form>
  </div>
</div>