{{#each bookingData as |booking|}}
  <div class='d-flex justify-content-center'>
    <div class='signup-card'>
      <h2>Booking # <span class="id">{{booking.id}}</span></h2>
      <h2>for {{dog_name}}
      <h2>{{booking.session_name}}</h2>
      <h2>{{format_date booking.session_datetime}}</h2>
      
      <div class="d-flex justify-content-center align-items-center">            
        <a href="" id="deleteBtn" class="homeButton" ><i class="uil uil-trash-alt"></i>Cancel Booking</a>
      </div>
      </div>
   </div>
{{/each}}

<script src="/js/delete-booking.js"></script>