<div class="d-flex justify-content-center">
  <div class="signup-card">
    <h2 class="page-title login-margin">Book a Service</h2>
    <form
      class="login-form flex-column justify-content-center align-items-center"
    >
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="booking-day">Day</label>
        <div class="col-sm-8">
          <input
            type="date"
            id="booking-day"
            class="form-control"
            name="booking-day"
            value="2022-03-29"
            min="2022-03-29"
            max="2023-03-29"
          />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="booking-session"
          >Session</label
        >
        <div class="col-sm-8">
          <select
            class="form-control"
            name="booking-session"
            id="booking-session"
          >
            <option value="09:00:00">9 AM</option>
            <option value="10:00:00">10 AM</option>
            <option value="11:00:00">11 AM</option>
            <option value="12:00:00">12 PM</option>
            <option value="13:00:00">1 PM</option>
            <option value="14:00:00">2 PM</option>
            <option value="15:00:00">3 PM</option>
            <option value="16:00:00">4 PM</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="booking-dog">Dog</label>
        <div class="col-sm-8">
          <select class="form-control" name="booking-dog" id="booking-dog">
            {{#each dogData as |dog|}}
            <option class="doggyData" value="{{dog.id}}">
              {{dog.dog_name}}
            </option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="booking-service"
          >Service</label
        >
        <div class="col-sm-8">
          <select name="booking-service" id="booking-service">
            <option value="Daycare">Daycare</option>
            <option value="Training">Obedience Training</option>
            <option value="Grooming & Clean">Grooming & Clean</option>
            <option value="Holiday Care">Holiday Care</option>
          </select>
        </div>
      </div>
    </form>
    <div class="d-flex justify-content-center align-items-center">
      <button class="homeButton" id="bookBTN">
        <i class="uil uil-calendar-alt"></i>Book
      </button>
    </div>
  </div>
</div>

<script src="/js/book.js"></script>