<div class="d-flex justify-content-center">    
        <div class="signup-card">
            <h2 class="page-title login-margin">Book a Service</h2>
            <form class="form login-form d-flex flex-column justify-content-center align-items-center">
                <div class="form-group">                    
                        <label for="booking-day">Day</label>
                        <input type="date" id="booking-day" name="booking-day"
                          value="2022-03-29"
                          min="2022-03-29" max="2023-03-29">                     
                </div>
                <div class="form-group">
                    <label for="booking-session">Session</label>
                    <select name="booking-session" id="booking-session">
                      <option value="09:00:00">9 AM</option>
                      <option value="10:00:00">10 AM</option>
                      <option value="11:00:00">11 AM</option>
                      <option value="12:00:00">12 PM</option>
                      <option value="13:00:00">1 PM</option>
                      <option value="14:00:00">2 PM</option>
                      <option value="15:00:00">3 PM</option>
                      <option value="16:00:00">4 PM</option>                      
                    </select>
                  </div>
                <div class="form-group">
                  <label for="booking-dog">Dog</label>
                  <select name="booking-dog" id="booking-dog">
                    {{#each dogData as |dog|}}                  
                    <option class="doggyData" value={{dog.id}}>{{dog.dog_name}}</option>
                    {{/each}}
                    
                </select>             
                </div>
                <div class="form-group">
                    <label for="booking-service">Service</label>
                    <select name="booking-service" id="booking-service">
                      <option value="Daycare">Daycare</option>
                      <option value="Training">Obedience Training</option>
                      <option value="Grooming & Clean">Grooming & Clean</option>
                      <option value="Holiday Care">Holiday Care</option>
                    </select>  
                </div>                                    
                <a href="" class="homeButton" id="bookBTN"><i class="uil uil-calendar-alt"></i>Book</a>            
            </form>
        </div>
</div>  
<script src="/js/book.js"></script>
