<div class="d-flex justify-content-center">    
        <div class="signup-card">
          <h2 class="page-title login-margin">Sign Up</h2>
          <form class="form login-form d-flex flex-column justify-content-center align-items-left">
            {{!-- <div class="form-group">
              <label for="email-signup">Email</label>
              <input class="form-input" type="email" id="email-signup" />
            </div> --}}
            <div class="form-group">
              <label for="exampleFormControlInput1">Email address</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="form-group">
              <label for="firstname-signup">First Name</label>
              <input class="form-input" type="text" id="firstname-signup" placeholder="First Name" />
            </div>
            <div class="form-group">
              <label for="lastname-signup">Last Name</label>
              <input class="form-input" type="text" id="lastname-signup" placeholder="Last Name"/>
            </div>
            <div class="form-group">
              <label for="phone-number-signup">Phone Number</label>
              <input class="form-input" type="tel" id="phone-number-signup" placeholder="Phone Number" />
            </div>
            {{!-- <div class="form-group">
              <label for="address-signup">Address</label>
              <input class="form-input" type="text" id="address-signup" />
            </div> --}}
            <div class="form-group">
              <label for="inputAddress">Address</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="form-group">
              <label for="inputAddress2">Address 2</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
            </div>
            <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCity">City</label>
              <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="form-group col-md-3">
              <label for="inputState">State</label>
              <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>WA</option>
              <option>NSW</option>
              <option>NT</option>
              <option>VIC</option>
              <option>QLD</option>
              <option>TAS</option>
              <option>SA</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label for="inputZip">Zip</label>
              <input type="text" class="form-control" id="inputZip">
            </div>
            {{!-- <div class="form-group">
              <label for="password-signup">Password</label>
              <input class="form-input" type="password" id="password-signup" />
            </div> --}}
            <div class="form-group col-md-12">
              <label for="inputPassword4">Password</label>
              <input type="password" class="form-control" id="inputPassword4" placeholder="Password between 8 - 20 characters">
            </div>
            </div>
              <a href="#" class="loginButton" id="signUpform">Sign Up</a>
          </form>
        </div>
      </div>

<script src="/js/sign-up.js"></script>