<div class="d-flex justify-content-center">    
        <div class="signup-card">
          <h2 class="page-title login-margin">Sign Up</h2>
          <form class="form login-form d-flex flex-column justify-content-center align-items-left">
            <div class="form-group">
              <label for="email-signup">Email</label>
              <input class="form-input" type="email" id="email-signup" />
            </div>
            <div class="form-group">
              <label for="firstname-signup">First Name</label>
              <input class="form-input" type="text" id="firstname-signup" />
            </div>
            <div class="form-group">
              <label for="lastname-signup">Last Name</label>
              <input class="form-input" type="text" id="lastname-signup" />
            </div>
            <div class="form-group">
              <label for="phone-number-signup">Phone Number</label>
              <input class="form-input" type="tel" id="phone-number-signup" />
            </div>
            <div class="form-group">
              <label for="address-signup">Address</label>
              <input class="form-input" type="text" id="address-signup" />
            </div>
            <div class="form-group">
              <label for="password-signup">Password</label>
              <input class="form-input" type="password" id="password-signup" />
            </div>
            <div class="form-group d-flex">
              <a href="#" class="loginButton" id="signUpform">Sign Up</a>
            </div>
          </form>
        </div>
      </div>

<script src="/js/sign-up.js"></script>