/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Theme Color */

/* first-color */
/* Login Card*/
/* background-color: hsl(var(--hue-color),69%,61%); */

/* first-color Darker:hover
background-color: hsl(var(--hue-color),40%,32%); */

/* first-color semi-Darker*/
/* Buttons */
/* background-color: hsl(var(--hue-color),55%,46%); */

/* First Color Lighter */
/* Cards */
/* background-color: hsl(var(--hue-color),92%,85%); */


/* Variables CSS */
:root {
  --hue-color: 230;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(255, 255, 255);
  color: rgb(235, 235, 235);
}

h1 {
  color: rgb(235, 235, 235);
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  margin-bottom: 5%;
  color: rgb(235, 235, 235);
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.dog-name{
  color: rgb(235, 235, 235);
  margin-bottom: 7%;
}

h3 {
  margin-top: -5%;
  text-align: center;
  margin-bottom: 10%;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
}

h4 {
  margin-top: -5%;
  text-align: center;
  margin-bottom: 10%;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
}

a {
  text-align: center;
  text-decoration: none;
  color: black;
}

a:hover {
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.navbar-light {
  background-color: hsl(var(--hue-color), 69%, 61%);
}

.navbar-text {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 8px;
}

.dog-pic {
  position: fixed;
  bottom: 4%;
  height: 50%;
  width: 30%;
  z-index: -1;
}

.pic-right {
  right: 2%;
}

.pic-left {
  left: 4%;
}

.inputBox {
  width: 85%;
}

.labelBox {
  margin-left: 2%;
}

.ageBox {
  text-align: center;
}

.container-xl {
  width: 100%;
}

.hide {
  display: none;
}

.navbarButton {
  color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10%;
  margin-bottom: 0.5%;
  padding: 0.5%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.navbarButton:hover,
.loginButton:hover,
.homeButton:hover,
.managedog-card:hover
{
background-color: hsl(var(--hue-color),40%,32%);

}

#deleteBtn{
  margin-bottom: 1%;
}

.login-card {
  margin-top: 2%;
  background-color: hsl(var(--hue-color), 69%, 61%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10%;
  padding: 2%;
  padding-bottom: 0;
}

.signup-card {
  margin-top: 2%;
  background-color: hsl(var(--hue-color),69%,61%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
  padding: 1%;
  width: 30%;
}

.home-card{
  background-color: hsl(var(--hue-color),69%,61%);
}

.addDogCard {
  margin-top: 2%;
  background-color: rgb(202, 202, 202);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5%;
  padding: 1%;
  width: 10%;
}

.dog-tag{
  margin-bottom: auto;
}


.form-input {
  width: 100%;
}

label {
  text-align: center;
}

textarea {
  height: 200px;
}

.loginButton {
  color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  background-color: hsl(var(--hue-color), 69%, 61%);
  border-radius: 10%;
  margin-bottom: 0.5%;
  padding: 5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width:auto;
}

.landerBtn{
padding: 2%;
}


.homeButton {
  color: whitesmoke;
  width: auto;
  margin-left: 10%;
  margin-right: 10%;
  background-color: hsl(var(--hue-color),55%,46%);
  border-radius: 8px;
  margin-bottom: 0.5%;
  padding: 5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-decoration: none;
  margin-bottom: 5%;
  font-size: large;
  
}

.addDogButton{
  margin-top: 2.5%;
  padding:2% 5%;
  margin-bottom: 2.5%;
}


.btn-primary {
  margin-left: auto;
  margin-right: auto;
}

/* Icon */

.uil {
  font-size: x-large;
}

.uil-trash-alt{
  margin-right: 2px;
}

@media screen and (max-width: 1400px) {
  .dog-pic {
    height: 55%;
    width: 30%;
  }
}

@media screen and (max-width: 1200px) {
  .dog-pic {
    height: 45%;
    width: 30%;
  }
  .signup-card {
    width: 55%;
  }
}

@media screen and (max-width: 800px) {
  .dog-pic {
    height: 45%;
    width: 40%;
  }
  .signup-card {
    width: 45%;
  }
}

@media screen and (max-width: 400px) {
  .dog-pic {
    height: 45%;
    width: 50%;
  }
}
