h1 {
    color: rgb(235, 235, 235);
}

.navbar-text {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

body {
    background-color: rgb(255, 255, 255);
}

.dog-pic {    
    position: fixed;
    bottom: 0px;
    height: 45%;
    width: 20%;
}

.pic-right {
    right: 0px;
}

.pic-left {
    left: 0px;
}

@media screen and (max-width: 1400px) {
    .dog-pic {    
        height: 45%;
        width: 20%;
    }
}

@media screen and (max-width: 1200px) {
    .dog-pic {    
        height: 45%;
        width: 30%;
    }
}

@media screen and (max-width: 800px) {
    .dog-pic {    
        height: 45%;
        width: 40%;
    }
}

@media screen and (max-width: 400px) {
    .dog-pic {    
        height: 45%;
        width: 50%;
    }
}